body {
    padding-top: 60px;
}
container {
    margin: 10px;
}

.ace_editor {
    border: 1px solid lightgray;
    margin: auto;

}
.scrollmargin {
    height: 500px;
    text-align: center;
}

.ace_editor.fullScreen {
    height: auto;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.fullScreen {
    overflow: hidden
}

.navbar-brand {
    font-family: Inconsolata;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

@media (min-width: 768px) {
    .file-List {
        float: left;
        max-width: 200px;
        overflow-wrap: break-word;
    }
}

@media (max-width: 767px) {
    .file-List{
        width: 100%;
    }
}